:root {
    --primary-color: #0c2835;
    --secondary-color: #008B8B;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--primary-color);
}

table {
    background-color: var(--primary-color);
}

form {
    margin: 0;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    border: 4px solid var(--secondary-color);
    border-radius: 8px;
}

.display {
    width: 234px;
    height: 90px;
    padding-right: 6px;
    text-align: right;

    font-size: 20px;
    color: white;
    margin: 5px;
    outline: none;
    
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.operator, .number {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	padding: 0;
    width: 52px;
    height: 50px;

    font-size: 22px;
    margin: 2;
    color: white;

    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    outline: none;
    background-color: var(--primary-color);

    transition: 400ms;
}

.operator:hover, .number:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}
